<div {{action 'toggle'}} class="squaredThree">
  {{#if value}}
    <input type="checkbox" value="None" id="squaredThree" name="check" checked />
  {{else}}
    <input type="checkbox" value="None" id="squaredThree" name="check" />
  {{/if}}
  <label for="squaredThree">{{label}}</label>
</div>
