$navbar-default-color: #F05F40;
$navbar-default-link-color: #F05F40;
$navbar-default-link-active-color: #FFF;
$navbar-default-link-hover-color: #FFF;
$navbar-default-bg: #000;
// $btn-default-color: #385547;
// $navbar-default-border: darken(@navbar-default-bg, 6.5%)

@import 'bootstrap';
@import 'bootstrap/theme';

.relative {
  position: relative;
}

.back-red {
  background-color: red;
}

.back-green {
  background-color: green;
}

.back-blue {
  background-color: blue;
}

.centered {
  text-align: center;
  background-color: #778899;
}

.game-button {
  width: 150px;
  text-align: center;
}





.gradient {
  background-color: black;
  color: blue;
}

#bootstrap-override > .navbar-default {
  color: red;
}

.navbar-nav > a > li {
  color: red;
}

// override bootstrap text-shadow
#navigation > ul > li > a {
  text-shadow: none;
}

#bootstrap-override > div > div > a {
  text-shadow: none;
}

header {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('/assets/img/dota-background.jpg');
  text-align: center;
  // color: white;
}

.accept-game-window {
  background-image: url('/assets/img/accept-window.png');
  width: 864px;
  height: 290px;
  padding-top: 200px;
  position: relative;
  top:150px;
}

.accept-game {
  background-image: url('/assets/img/accept-button.png');
  width: 354px;
  height: 67px;
  border-radius: 0px;
  color: #FFF;
  padding-top: 0px;
  position: relative;
  top:-50px;
}

.main-div {
  padding-top: 40px;
}

.flash-div {
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 100;
}

.game-table > thead > tr > th {
  width: 12.5%;
}

.game-table > tbody > tr > td > td {
  width: 25%;
}

body {
  padding-top: 0px;
}
