<header>
  <div class="header-content">
    <div class="header-content-inner">
      <div class="accept-game-window col-md-8 col-md-offset-2">
        {{#link-to 'games'}}
          <div class="btn btn-xl page-scroll accept-game"></div>
        {{/link-to}}
      </div>
    </div>
  </div>
</header>
