<div class='container'>
  <h2>Game {{model.id}}</h2>
  Team:
  <table class="table table-striped game-table">
    <thead>
      <tr>
        <th>Player ID:</th>
        <th>Name:</th>
        <th>Nationality:</th>
        <th>Ranking:</th>
        <th>Positions:</th>
        <th>Abandons/Reports</th>
        <th>Languages:</th>
        <th>Status:</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.profiles as |profile|}}
        <tr>
          {{player-row game=model
                       profile=profile
                       current=profile_id
                       leaveGame='leaveGame'}}
        </tr>
      {{/each}}
      {{#each (range game.profiles.length 5) as |index|}}
        <tr>
          {{player-row game=model
                       joinGame='joinGame'
                       leaveGame='leaveGame'}}
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if model.open}}
    <span class='open'>Game is OPEN</span>
    {{else}}
    <span class='closed'>There are no open spaces in this lobby.</span>
  {{/if}}
  {{#link-to 'games'}}
    <button type="button">Back to All Games</button>
  {{/link-to}}
</div>
