{{#each model.players as |player|}}
  {{player.id}}
{{/each}}
{{#if model.full}}
  Game is full
  {{else}}
  There are open spaces in this lobby.
{{/if}}
{{#link-to 'games'}}
  <button type="button">Back to All Games</button>
{{/link-to}}
