<ul>
  {{profile.first_name}}
  {{profile.last_name}}
  {{profile.nationality}}
  Something here
  {{#link-to 'profile/edit' profile}}
    <button class="btn btn-primary">
      Edit
    </button>
  {{/link-to}}
  {{!-- {{profile-edit profile=profile editFirstName='editFirstName'}} --}}
</ul>
