<div class="filter-row">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li>Filter: </li>
    </ul>
    <ul class="nav navbar-nav filter-bar">
      {{#if isAuthenticated}}
        {{filter-dropdown title='MMR' topFilter='Max MMR' bottomFilter='Min MMR'}}
      {{/if}}
    </ul>
    <ul class="nav navbar-nav filter-bar">
      {{#if isAuthenticated}}
        {{filter-dropdown title='Language' topFilter='Primary' bottomFilter='Secondary'}}
      {{/if}}
    </ul>
    <ul class="nav navbar-nav filter-bar">
      {{#if isAuthenticated}}
        {{filter-dropdown title='Position' topFilter='Needs' bottomFilter='Has'}}
      {{/if}}
    </ul>
  </div>
</div>
