<button {{action "filter"}}>{{title}}:</button>
{{input placeholder=topFilter
        class='input-group form-control prof-edit'
        value=option.topFilter
}}
{{input placeholder=bottomFilter
        class='input-group form-control prof-edit'
        value=option.bottomFilter
}}
